{% extends "template.twig" %}

{% block content %}


    <!--**************************** Dummy data ****************************-->
    {% set barchart = [
        {
            'percentage':'6%', 
            'desc':'of all coupons printed are ever redeemed' 
        }, 
        {
            'percentage':'95%', 
            'desc':'of the creatures on earth are smaller than a chicken egg' 
        },
        {
            'percentage':'35%', 
            'desc':'of people watching T.V. yell at it.' 
        }
        ]
    %}
    {% set data = {
        'title':'title text', 
        'strapline':'strapline text', 
        'intro':'A slice of heaven. Always blow on the pie. Ill see you right, this bung seabed is as bloody as a tapu Undie 500. Chur bro, we go together, kinda like mince n cheese ya know.', 
        'image':'assets/images/gallery-showcase.jpg', 
        'imagetitle':'Image title',
        'imagesubtitle':'Image sub title or date',
        'imagecaption':'I am an image caption',
        'copy':'Oh no! No worries, this cool morepork is as kiwi as as a paru Undie 500. Across the ditch, good as gold, fully. Mean while, in behind the bicycle shed, Lomu and Helen Clarke were up to no good with a bunch of cracker vivids. The pretty suss force of his chundering was on par with John Keys heaps good Grandpas slipper. Put the jug on will you bro, all these wicked slippers can wait till later. The first prize for burning my Vogels goes to... the Armed Offenders Squad and his same same but different cookie time, what a dole bludger.'} 
    %}
    {% set gallery2Items = [
        {
            'caption':'Item one',
            'image':'assets/images/gallery-showcase.jpg'
        }, 
        {
            'caption':'Item two',
            'image':'assets/images/gallery-showcase.jpg'
        }
    ]
    %}
    {% set panel = 
        {
            'title':'Get in touch',
            'desc':'We would love to hear from you, you attractive person you.',
            'btnLink':'helpme.co.nz',
            'btnTitle':'Contact Us'
        }
    
    %}
    {% set commentThread = [
        {
            'name':'Laura Bunea',
            'comment':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.'
        }, 
        {
            'name':'Mr Blob',
            'comment':'Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.'
        }
    ]
    %}
    {% set gallery3Items = [
        {
            'caption':'Item one',
            'image':'assets/images/gallery-showcase.jpg'
        }, 
        {
            'caption':'Item two',
            'image':'assets/images/gallery-showcase.jpg'
        }, 
        {
            'caption':'Item three',
            'image':'assets/images/gallery-showcase.jpg'
        }
    ]
    %}
    
    {% set gallery4Items = [
        {
            'caption':'Item one',
            'image':'assets/images/gallery-showcase.jpg'
        }, 
        {
            'caption':'Item two',
            'image':'assets/images/gallery-showcase.jpg'
        }, 
        {
            'caption':'Item three',
            'image':'assets/images/gallery-showcase.jpg'
        },
        {
            'caption':'Item four',
            'image':'assets/images/gallery-showcase.jpg'
        }
    ]
    %}

    {% set navigation = [
        {
            'title':'Home'
        }, 
        {
            'title':'About'
        }, 
        {
            'title':'Blog'
        },
    ]
    %}

    {% set gallerywithcaptions = {
        'title':'Gallery images with captions',
        'image':'assets/images/gallery-showcase.jpg', 
        'imagetitle':'Image title',
        'imagesubtitle':'Image sub title or date',
        'imagecaption':'I am an image caption'} 
    %}

    {% set content2Items = [
        {
            'heading':'Heading 1',
            'copy':'Anyway, Hairy Maclary from Donaldsons Dairy is just The Hungery Caterpilar in disguise, to find the true meaning of life, one must start chundering with the can of Watties Baked Beans, mate. After the vivid is munted, you add all the pearler wet blankets to the giant weka youve got yourself a meal. ', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },
        {
            'heading':'Heading 2',
            'copy':'You have no idea how nuclear-free our hard case stubbies were aye. Every time I see those good as cans of Watties Baked Beans its like smoko time all over again aye, Im not here to frack spiders. Anyway, Rangi is just Sir Edmond Hillary in disguise, to find the true meaning of life, one must start burning my Vogels with the Tui, mate.', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        }]
    %}

    {% set content3Items = [
        {
            'heading':'Heading 1',
            'copy':'Anyway, Hairy Maclary from Donaldsons Dairy is just The Hungery Caterpilar in disguise, to find the true meaning of life, one must start chundering with the can of Watties Baked Beans, mate. After the vivid is munted, you add all the pearler wet blankets to the giant weka youve got yourself a meal. ', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },
        {
            'heading':'Heading 2',
            'copy':'You have no idea how nuclear-free our hard case stubbies were aye. Every time I see those good as cans of Watties Baked Beans its like smoko time all over again aye, Im not here to frack spiders. Anyway, Rangi is just Sir Edmond Hillary in disguise, to find the true meaning of life, one must start burning my Vogels with the Tui, mate.', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },{
            'heading':'Heading 3',
            'copy':' Technology has allowed cool tiki tours to participate in the global conversation of random All Blacks. The next Generation of pretty suss sad guys have already cooked over at the fish n chip shop. Whats the hurry the Armed Offenders Squad? Theres plenty of Edmonds Cook Books in a waka.', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },]
    %}

    {% set content4Items = [
        {
            'heading':'Heading 1',
            'copy':'Anyway, Hairy Maclary from Donaldsons Dairy is just The Hungery Caterpilar in disguise, to find the true meaning of life, one must start chundering with the can of Watties Baked Beans, mate. After the vivid is munted, you add all the pearler wet blankets to the giant weka youve got yourself a meal. ', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },
        {
            'heading':'Heading 2',
            'copy':'You have no idea how nuclear-free our hard case stubbies were aye. Every time I see those good as cans of Watties Baked Beans its like smoko time all over again aye, Im not here to frack spiders. Anyway, Rangi is just Sir Edmond Hillary in disguise, to find the true meaning of life, one must start burning my Vogels with the Tui, mate.', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },
        {
            'heading':'Heading 3',
            'copy':' Technology has allowed cool tiki tours to participate in the global conversation of random All Blacks. The next Generation of pretty suss sad guys have already cooked over at the fish n chip shop. Whats the hurry the Armed Offenders Squad? Theres plenty of Edmonds Cook Books in a waka.', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        },
        {
            'heading':'Heading 4',
            'copy':'Lake Taupo holds the most sweet community in the country.. James Cook was wobbling when the kiwi as rooting event occured. Fair suck of the sav, this beached as scarfie is as beaut as a hammered. Mean while, in South Pacific, James and the Giant Peach and Jonah Lomu were up to no good with a bunch of tapu whitebait fritters. ', 
            'link':'Click me', 'link-href':'http:www.clickme.co.nz'
        }]
    %}

    

    {% set galleryShowcase = {
        'title': 'Hello there',
        'url': '/link/click/me',
        'imageSource': 'assets/images/gallery-showcase.jpg',
        'imageCredit': 'Some photographer',
        'parentLink': '/parent/link',
        'category': 'Television',
        'date': '14 January 2014',
        'listingBlurb': 'Dont be a egg. After the fella is skived off, you add all the pretty suss cookie times to the foreshore and seabed issue youve got yourself a meal. Technology has allowed carked it housies to participate in the global conversation of hard case pieces of cheese on toast. The next Generation of nuclear-free manuses have already munted over at Rangitoto Island. Whats the hurry the Armed Offenders Squad? Theres plenty of jerseys in South Pacific..'
        
    } %}


    <!--**************************** New block ****************************-->
    <h3 class='lego--heading'>
        header.twig
    </h3>
    {{ macros.lego('header', {'navigation': navigation, 'isStacked':'','blockSize': 'm'}) }}


    <!--**************************** Content ****************************-->
    <h3 class='lego--heading'>
        content.intro.twig
    </h3>
    {{ macros.lego('content.intro', data | merge({'isStackedTop': '','isStackedBottom':'','blockSize': 'm'})) }}

    <!--**************************** Content ****************************-->
    <h3 class='lego--heading'>
        content.media.twig
    </h3>
    {{ macros.lego('content.media', data | merge({'isStacked':'','blockSize': 'm','mediaLeft':'col-1-4','mediaRight':'col-3-4','blockSize': 'm'})) }}
    <hr />
    {{ macros.lego('content.media', data | merge({'isStacked':'','blockSize': 'm','mediaLeft':'col-1-3','mediaRight':'col-2-3','blockSize': 'm'})) }}
    <hr />
    {{ macros.lego('content.media', data | merge({'isStacked':'','blockSize': 'm','mediaLeft':'col-2-4','mediaRight':'col-2-4','blockSize': 'm'})) }}
    
    

    <!--**************************** Gallery ****************************-->
    <h3 class='lego--heading'>
        gallery.list.twig
    </h3>
    <!-- I have passed in different nodes just to keep the site smaller ;) -->
    {{ macros.lego('gallery.list', {'gallery': gallery2Items, 'isStacked': '','blockSize': 'm','colSize': 'col-2-4'}) }}
    <hr/>
    {{ macros.lego('gallery.list', {'gallery': gallery3Items, 'isStacked': '','blockSize': 'm','colSize': 'col-1-3'}) }}
    <hr/>
    {{ macros.lego('gallery.list', {'gallery': gallery4Items, 'isStacked': '','blockSize': 'm','colSize': 'col-1-4'}) }}
    
    
    
    <!--**************************** Content Blocks ****************************-->
    <h3 class='lego--heading'>
        Content blocks
    </h3>
    {{ macros.lego('content.block', {'content':content2Items, 'isStacked':'','blockSize': 'm','colSize': 'col-2-4','headingSize': '3'}) }}
    <hr/>
    {{ macros.lego('content.block', {'content':content3Items, 'isStacked':'','blockSize': 'm','colSize': 'col-1-3'}) }}
    <hr/>
    {{ macros.lego('content.block', {'content':content4Items, 'isStacked':'','blockSize': 'm','colSize': 'col-1-4'}) }}

    

    <!--**************************** New block ****************************-->

{#{{ macros.lego('content.split', {'content':content4Items, 'isStacked':'','blockSize': 'm','colSize': 'col-1-4'}) }}
    {{ macros.lego('article.list', content | merge({'isStacked':'', 'headingSize': 'h4', 'blockSize': 'm'})) }}#}

    <!--**************************** Showcases ****************************-->
    
    <h3 class='lego--heading'>
        gallery.showcase.twig
    </h3>

    {{ macros.lego('gallery.showcase', { 'galleryShowcase':galleryShowcase, 'isStacked': '', 'blockSize': 'm'}) }}


    <!--**************************** Showcases ****************************-->
    <h3 class='lego--heading'>
        Comment threads
    </h3>
    {{ macros.lego('comments', {'commentThread':commentThread, 'isStacked':'','blockSize': 'm','colSize': 'col-2-4 col--q-small'}) }}

    
    <!--**************************** Showcases ****************************-->
    <h3 class='lego--heading'>
        Panels
    </h3>
    {{ macros.lego('panel', {'panel':panel,'blockSize': 'm'}) }}
    
    <!--**************************** Showcases ****************************-->
    <h3 class='lego--heading'>
        Barchart
    </h3>
    {{ macros.lego('barchart', {'barchart':barchart,'blockSize': 'm'}) }}

    <!--**************************** Showcases ****************************-->
    <h3 class='lego--heading'>
        Forms
    </h3>
    {{ macros.lego('form', {'barchart':barchart,'colSize': '-2-4 col--q-small','blockSize': 'm'}) }}
    <hr />
    {{ macros.lego('form', {'formData':formData,'colSize': '','blockSize': 'm'}) }}
{% endblock %}