{% extends "template.twig" %}

{% block content %}
    
    {{ macros.lego('content.media.reversed.quarters', {
        'themeClass': 'theme--secondary',
        'content': data.flegoContent,
        'image': data.flegoImage
    }) }}
  
<div class='block-m'>
    <div class='device-container'>
    
        {{ macros.lego('device-header', {
            'splitLeft':"Flego's awesome",
            'splitRight':'12:00am'
        }) }}

        {{ macros.lego('codeblock', {
            'title':'panel.twig',
            'anchor':'panel-code',
            'blockSize':'m',
            'codeView':data.panelView.code,
            'renderedView':data.panelView.rendered
        }) }}

        {{ macros.lego('codeblock', {
            'title':'media.twig',
            'anchor':'media-block-code',
            'blockSize':'m',
            'codeView':data.mediaView.code,
            'renderedView':data.mediaView.rendered
        }) }}

        {#{{ macros.lego('codeblock', {
            'title':'title-centered.twig',
            'anchor':'title-center-code',
            'blockSize':'m',
            'codeView':data.titleCenteredView.code,
            'renderedView':data.titleCenteredView.rendered
        }) }}#}

        {{ macros.lego('codeblock', {
            'title':'comments.twig',
            'anchor':'comments-code',
            'codeView':data.commentsView.code,
            'renderedView':data.commentsView.rendered
        }) }}
 
        {{ macros.lego('codeblock', {
            'title':'bar-chart.twig',
            'anchor':'bar-chart-code',
            'codeView':data.barchartView.code,
            'renderedView':data.barchartView.rendered
        }) }}

        {{ macros.lego('codeblock', {
            'title':'Progress-tile.twig',
            'anchor':'progress-tile-code',
            'blockSize':'m',
            'codeView':data.progressTileView.code,
            'renderedView':data.progressTileView.rendered
        }) }}

        {{ macros.lego('codeblock', {
            'title':'forms.twig',
            'anchor':'forms-code',
            'codeView':data.formsView.code,
            'renderedView':data.formsView.rendered
        }) }}


        {{ macros.lego('codeblock', {
            'title':'content-block.twig',
            'anchor':'content-block-code',
            'blockSize':'m',
            'codeView':data.contentBlockView.code,
            'renderedView':data.contentBlockView.rendered
        }) }}

        {{ macros.lego('codeblock', {
            'title':'gallery-showcase.twig',
            'anchor':'gallery-showcase-code',
            'codeView':data.galleryShowcaseView.code,
            'renderedView':data.galleryShowcaseView.rendered
        }) }}

       {{ macros.lego('codeblock', {
            'title':'gallery-list.twig',
            'anchor':'gallery-list-code',
            'codeView':data.galleryListView.code,
            'renderedView':data.galleryListView.rendered
        }) }}

        
        {#header code {{ macros.lego('header', {
            'navigation': navigation, 
            'isStacked':'',
            'blockSize': 'm'
        }) }}#}
         
    </div>
</div>
{% endblock %}