{% extends "template.twig" %}

{% block content %}
    
<div class='block-m block--stacked'>
    <div class='device-container'>
        <!---->
        {{ macros.lego('device-header', {
            'splitLeft':"Flego's awesome",
            'splitRight':'12:00am'
        }) }}

        <!-- Flego introduction -->
        {{ macros.flego('media', {
            'gridContainer': 'grid-container-xl',
            'themeClass': 'quaternary',
            'mediaLeftData': data.flegoContent,
            'mediaRightData': data.flegoImage
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'panel.twig',
            'anchor':'panel-code',
            'blockSize':'m',
            'codeView':data.panelView.code,
            'renderedView':data.panelView.rendered
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'media.twig',
            'anchor':'media-block-code',
            'blockSize':'m',
            'codeView':data.mediaView.code,
            'renderedView':data.mediaView.rendered
        }) }}

        <!--example of :-->
        {#{{ macros.lego('codeblock', {
            'title':'title-centered.twig',
            'anchor':'title-center-code',
            'blockSize':'m',
            'codeView':data.titleCenteredView.code,
            'renderedView':data.titleCenteredView.rendered
        }) }}#}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'comments.twig',
            'anchor':'comments-code',
            'codeView':data.commentsView.code,
            'renderedView':data.commentsView.rendered
        }) }}
 
        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'bar-chart.twig',
            'anchor':'bar-chart-code',
            'codeView':data.barchartView.code,
            'renderedView':data.barchartView.rendered
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'Progress-tile.twig',
            'anchor':'progress-tile-code',
            'blockSize':'m',
            'codeView':data.progressTileView.code,
            'renderedView':data.progressTileView.rendered
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'forms.twig',
            'anchor':'forms-code',
            'codeView':data.formsView.code,
            'renderedView':data.formsView.rendered
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'content-block.twig',
            'anchor':'content-block-code',
            'blockSize':'m',
            'codeView':data.contentBlockView.code,
            'renderedView':data.contentBlockView.rendered
        }) }}

        <!--example of :-->
        {{ macros.lego('codeblock', {
            'title':'gallery-showcase.twig',
            'anchor':'gallery-showcase-code',
            'codeView':data.galleryShowcaseView.code,
            'renderedView':data.galleryShowcaseView.rendered
        }) }}

        <!--example of :-->
       {{ macros.lego('codeblock', {
            'title':'gallery-list.twig',
            'anchor':'gallery-list-code',
            'codeView':data.galleryListView.code,
            'renderedView':data.galleryListView.rendered
        }) }}

        <!--example of :-->
        {#header code {{ macros.lego('header', {
            'navigation': navigation, 
            'isStacked':'',
            'blockSize': 'm'
        }) }}#}
         
    </div>
</div>
{% endblock %}