{% extends "template.twig" %}

{% block content %}
 
    <!-- Freds closet introduction -->
    {{ macros.flego('media', {
        'gridContainer': 'grid-container-xl', 
        'themeClass': 'secondary',
        'gridMiddle':'grid--middle',
        'mediaLeft':'col-2-3',
        'mediaRight':'col-1-3',
        'mediaLeftData': data.closetContent.content, 
        'mediaRightData': data.closetContent.image
    }) }}

    <!-- Theme section -->
    {{ macros.lego('section-block', {
        'anchor': 'theme-colours',
        'themeClass': 'tertiary',
        'legoBlock':'swatch.theme',
        'contentData':data.themesSection, 
        'swatchData': data.themes
    }) }}
    
    <!-- spacing section -->
    {{ macros.lego('section-block', {
        'anchor': 'spacing-helpers',
        'themeClass': 'secondary',
        'legoBlock':'swatch.spacing',
        'contentData':data.spacingSection, 
        'swatchData': data.spacingUnits
    }) }}

    <!-- block section -->
    {{ macros.lego('section-block', {
        'anchor': 'block-helpers',
        'themeClass':'tertiary',
        'legoBlock':'swatch.block',
        'contentData':data.blocksSection, 
        'swatchData': data.blocks
    }) }}

    <!-- grid breakpoints section -->
    {{ macros.lego('section-block', {
        'anchor': 'grid-breakpoints',
        'themeClass':'primary',
        'legoBlock':'swatch.grid',
        'contentData':data.gridSection, 
        'swatchData': data.gridBreakpoints
    }) }}


    <!-- font size section -->
    <div class='theme--secondary' id='typography'>
        <div class='grid-container-xl pb-xxl' >
            
            {{ macros.flego('content-block', {
                'content': data.typographySection, 
            }) }}

            
            <div class='grid'>
                {{ macros.lego('section.typography', {
                    'content': data.typographyPrimary,
                    'fonts':data.fonts,
                    'type': 'primary'
                }) }}

                <div class='grid__item col'>
                    <hr class='mt-l mb-l'/>
                </div>
                
                {{ macros.lego('section.typography', {
                    'content': data.typographySecondary,
                    'fonts':data.fonts,
                    'type': 'secondary'
                }) }}
            
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->
    
    <!-- heirarchy section -->
    {{ macros.lego('section-block', {
        'anchor': 'text-heirarchy',
        'themeClass':'tertiary',
        'legoBlock':'content-block',
        'contentData':data.heirarchySection, 
        'swatchData': data.typography,
        'externalThemeWrapper': 'theme--primary radius'
    }) }}
    
    <div id='flego-blocks' style='background-color:#EDEDED;' class='pb-xxxl'>

        {{ macros.flego('section', { 
            'gridContainer':'grid-container pt-xl',
            'colSize':'col',
            'externalThemeClass':'secondary',
            'blockSize': 'm',
            'content': data.flegoSection
        }) }}
        
        <div class='grid-container text-center'>
            <div class='pb-m'>
                <a href='' class='btn block-s inline-block theme--primary mr-xs clean-link'  data-showhide-trigger='pageone'>
                Page 1
                </a>
                <a href='' class='btn block-s inline-block theme--primary mr-xs clean-link' data-showhide-trigger='pagetwo'>
                    Page 2
                </a>
            </div>
        </div>
        <div class='block-m pt-0'>
            <div data-showhide-group='devices' class='grid-container device-container showhide-hidden' data-showhide-container='pageone'>
                {{ macros.lego('device-header', {
                    'splitLeft':"Fred's awesome",
                    'splitRight':'12:00am'
                }) }}
                {% include "page1.twig" %}
            </div><!--grid container ends-->
        
            <div  data-showhide-group='devices' class='grid-container device-container showhide-hidden' data-showhide-container='pagetwo'>
                {{ macros.lego('device-header', {
                    'splitLeft':"Fred's awesome",
                    'splitRight':'12:00am'
                }) }}
                {% include "page2.twig" %}
                <p>Add shit here</p>
            </div><!--grid container ends-->
        </div>
    </div><!--theme ends-->

{% endblock %}