{% extends "template.twig" %}

{% block content %}
 
    <!-- Freds closet introduction -->
    {{ macros.flego('media', {
        'gridContainer': 'grid-container-xl', 
        'themeClass': 'secondary',
        'gridMiddle':'grid--middle',
        'mediaLeft':'col-2-3',
        'mediaRight':'col-1-3',
        'mediaLeftData': data.closetimage, 
        'mediaRightData': data.closetcontent
    }) }}

    <!-- Freds closet introduction -->
    <div id='theme-colours' style='background-color:#293F54; color:#fff'>
        <div class='grid-container-xl pb-xxl'>
            
            {{ macros.flego('content-block', {
                'content': data.themesSection, 
            }) }}

            <div class='grid'>
            
                {% for theme in data.themes %}
                    {{ macros.lego('swatch.theme', {
                        'theme': theme
                    }) }}  
                {% endfor %}

                <!--specify the extra grid item divs you need-->
                <div class='grid__item col-1-4 col-2-4--q-small '>
                </div><!--grid item ends-->
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->


    <div class='theme--secondary' id='spacing-helpers'>
        <div class='grid-container-xl pb-xxl' >
            {{ macros.flego('content-block', {
                'content': data.spacingSection, 
            }) }}
            <div class='grid'>
                {% for unit in data.spacingUnits %}
                    {{ macros.lego('swatch.spacing', {
                        'spacing': unit
                    }) }}  
                {% endfor %}     
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->


    <div class='theme--tertiary' id='block-helpers'>
        <div class='grid-container-xl pb-xxl' >
            {{ macros.flego('content-block', {
                'content': data.blocksSection, 
            }) }}
            <div class='grid'>
                {% for blocks in data.blocks %}
                    {{ macros.lego('swatch.block', {
                        'block': blocks
                    }) }}  
                {% endfor %} 
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme tertiary ends-->

    <div class='theme--secondary' id='typography'>
        <div class='grid-container-xl pb-xxl' >
            
            {{ macros.flego('content-block', {
                'content': data.typographySection, 
            }) }}
            
            <div class='grid'>
                {{ macros.lego('section.typography', {
                        'content': data.typographyPrimary,
                        'fonts':data.fonts,
                        'type': 'primary'
                }) }}

                <div class='grid__item col'>
                    <hr class='mt-l mb-l'/>
                </div>
                
                {{ macros.lego('section.typography', {
                        'content': data.typographySecondary,
                        'fonts':data.fonts,
                        'type': 'secondary'
                }) }}
            
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->

    <div class='theme--tertiary' id='text-heirarchy'>
        <div class='grid-container-xl pb-xxl'>
            {{ macros.flego('content-block', {
                'content': data.heirarchySection, 
            }) }}
            <div class='theme--primary radius'>
                <div class='grid'>
                   
                    {{ macros.flego('content-block', {
                        'content': data.typography,
                    }) }}
            
                </div>
            </div>
        </div><!--grid container ends-->
    </div><!--theme ends-->

    <div id='flego-blocks' style='background-color:#EDEDED;' class='pb-xxxl'>
        <div class='grid-container-xl '>    
            {{ macros.flego('content-block', {
                'content': data.flegoSection, 
            }) }}
        </div>
        <div class='grid-container device-container' style=''>
             {{ macros.lego('device-header', {
                'splitLeft':"Fred's awesome",
                'splitRight':'12:00am'
            }) }}

            <h3 class='lego--heading'>media.twig </h3>  
            {{ macros.flego('media', {
                'themeClass': 'primary',
                'mediaLeftData': data.dummycontent,
                'mediaRightData': data.dummyimage
            }) }}

            <h3 class='lego--heading'>split.twig </h3>  
            {{ macros.flego('split', {
                'splitLeft': data.dummycontent.splitLeft,
                'data': data.dummycontent,
            }) }}

            <h3 class='lego--heading'> panel.twig </h3>
            <div class='block-m block--stacked'>
                {{ macros.flego('panel', {
                'blockSize': 'm', 
                'close':true,
                'radius':true,
                'theme':'warning', 
                'content':data.panel,
                'buttonLabel':'Click me',
                'buttonLink':'/clickme'
            }) }}
            </div>

        </div><!--grid container ends-->
    </div><!--theme ends-->

{% endblock %}