{% extends "template.twig" %}

{% block content %}
 
    {{ macros.lego('content.media.reversed', {
        'themeClass': 'theme--tertiary', 
        'gridContainer': 'grid-container--tb-xl', 
        'content': data.closetcontent, 
        'image': data.closetimage, 
        'centergrid':'grid--middle',
        'blockSize': 'm',
        'mediaLeft':'col-1-3 col--q-small',
        'mediaRight':'col-2-3 col--q-small'
    }) }}

    {{ macros.lego('content.media', {
        'themeClass': 'theme--secondary', 
        'gridContainer': 'grid-container--tb-xl', 
        'content': data.closet2content, 
        'image': data.closet2image, 
        'centergrid':'grid--middle',
        'blockSize': 'm',
        'mediaLeft':'col-1-4 col--q-small',
        'mediaRight':'col-3-4  col--q-small'
    }) }}

         <!--todo-->  
    <!--<ul class='list-styled intro' >
        <li>
            Makes it easy for a new designer to join the team and start contributing work that is consistent with the current design and it makes sure there are no gaps in your styling, no matter what content is being displayed.
        </li>
        <li>
            Makes it easy for a new FED to join the team as they can see what patterns already exist and can extend and maintain code. {#make sense of this#}

        </li>
        <li>
            Good for debugging - Because all of the elements that appear on the site are in one place so you don’t have to go searching round for them.
        </li>
        <li>
            It also makes device testing easier because everything is on one page. It’s also quick to see if CSS changes to one pattern affect other patterns.

        </li>
    </ul>-->
    {{ macros.lego('content.media.reversed', {
        'themeClass': 'theme--secondary', 
        'gridContainer': 'grid-container--tb-xl', 
        'content': data.closet3content, 
        'image': data.closet3image, 
        'centergrid':'grid--middle',
        'blockSize': 'm',
        'mediaLeft':'col-1-4 col--q-small',
        'mediaRight':'col-3-4 col--q-small'
    }) }}
                         

<div class='theme--tertiary'>
    <div class='grid-container--tb-xl'>
        
        {{ macros.lego('content.intro', {
            'content': data.themecoloursintro, 
            'blockSize': 'm'
        }) }}

        <div class='grid'>
            
            {% for theme in data.themes %}
                {{ macros.lego('theme.swatch', {
                    'theme': theme
                }) }}  
            {% endfor %}

            <div class='grid__item col-1-4 col-2-4--q-small '>
            </div><!--grid item ends-->
        </div><!--grid  ends-->
    </div>
</div>

<div class='theme--secondary'>
    <div class='grid-container--tb-xl' >
        
        <div class='grid'>
            <div class='grid__item col'>
                <div class='block-m block--stacked'>
                    <h2 class='text-center font-primary--light'>
                        Typography
                    </h2>
                </div>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='block-m block--stacked'>
                     <p class='small uppercase'>Font primary:</p>
                    <h3>
                        SourceSansPro
                    </h3>
                    <p>
                        Awww Wicked! Howsit goin, this carked it misses is as kiwi as as a cool scarfie. Mean while, in South Pacific, the Armed Offenders Squad and Rhys Darby were up to no good with a bunch of paru chocolate fishs.
                    </p>
                </div>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='grid'>
                    
                    {% for font in data.fonts %}
                        {{ macros.lego('font.swatch', {
                            'font': font,
                            'type': 'primary'
                        }) }}  
                    {% endfor %} 

                </div><!--grid  ends-->
            </div><!--grid item ends-->

            <div class='grid__item col'>
                <hr class='mt-m mb-m'/>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='block-m block--stacked'>
                    <p class='small uppercase'>Font secondary:</p>
                    <h3 class='font-secondary--bold'>
                       SourceSansPro
                    </h3>
                    <p class='font-secondary'>
                        The stoked force of his skiving off was on par with Manus Morissette's flat stick quater-acre patch. Put the jug on will you bro, all these buzzy vivids can wait till later. 
                    </p>
                </div>
            </div>
            <div class='grid__item col-2-4 col--q-small'>
                <div class='grid'>
                    {% for font in data.fonts %}
                        {{ macros.lego('font.swatch', {
                            'font': font,
                            'type': 'secondary'
                        }) }}  
                    {% endfor %} 
                </div><!--grid  ends-->
            </div><!--grid item ends-->
        </div>
    </div>
    <div class='theme--tertiary'>
        <div class='grid-container--tb-xl'>
            <div class='grid'>
                <div class='grid__item col'>
                    <div class='block-m block--stacked'>
                        <h2 class='text-center font-primary--light'>
                            Text Heirarchy
                        </h2>
                    </div>
                    <div class='theme--primary block--stacked block-m radius'>
                        {{ macros.lego('content.intro', {
                            'gridContainer': 'grid-container--tb-xl', 
                            'content': data.typography
                        }) }}
                    </div>
                </div>
            </div><!--grid  ends-->
        </div>
    </div>
    <div style='' class='block--secondary'>
        <div class='grid-container--tb-xl' >
            
            <div class='grid'>
                <div class='grid__item col'>
                    <div class='block-m block--stacked'>
                        <h2 class='text-center font-primary--light'>
                            Spacing helpers 
                        </h2>
                    </div>
                </div>
                <div class='grid__item col'>
                <div class='grid'>
                    {% for unit in data.spacingUnits %}
                        
                        {{ macros.lego('spacing.swatch', {
                            'spacing': unit
                        }) }}  
                       
                    {% endfor %}
                    {#<div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xxxs
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xxxs text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xxs
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xxs text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xs
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xs text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -s
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-s text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -m
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-m text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -l
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-l text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xl
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xl text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xxl
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xxl text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                    <div class='grid__item col-1-10'>
                        <div class='ml-xxs mr-xxs radius'>
                            <div class='theme--tertiary top--radius-s' >
                                <p class='small uppercase text-center pt-s pb-s'>
                                    -xxxl
                                </p>
                            </div>
                            <div class='theme--primary '>
                                <div class='text-center small uppercase pt-s pb-s'>
                                    ?px
                                </div>
                            </div>
                            <div class='theme--quaternary bottom--radius-s'>
                                <div class='pt-xxxl text-center'></div>
                            </div> 
                        </div>
                    </div><!--grid item ends-->
                </div><!--grid  ends-->
            </div><!--grid item ends-->#}
            </div>
          
        </div>
    </div>
    <div style='' class='block--secondary'>
        <div class='grid-container--tb-xl' >
            
            <div class='grid'>
                <div class='grid__item col'>
                    <h2 class='text-center font-primary--light'>
                        Components
                    </h2>
                </div>
            </div>
          
        </div>
    </div>
{% endblock %}