{% extends "template.twig" %}

{% block content %}
 
    {{ macros.lego('content.media.reversed', {
        'themeClass': 'theme--secondary', 
        'centergrid':'grid--middle',
        'content': data.closetcontent, 
        'image': data.closetimage
    }) }}

    {#{{ macros.lego('content.media', {
        'themeClass': 'theme--secondary', 
        'centergrid':'grid--middle', 
        'content': data.closet2content, 
        'image': data.closet2image 
    }) }}

    {{ macros.lego('content.media.reversed', {
        'themeClass': 'theme--secondary', 
        'content': data.closet3content, 
        'image': data.closet3image, 
        'centergrid':'grid--middle'
    }) }}#}

    <div id='theme-colours' style='background-color:#293F54; color:#fff'>
        <div class='grid-container-xl pb-xxl'>
            
            {{ macros.lego('content.intro', {
                'content': data.themesSection, 
            }) }}

            <div class='grid'>
                
                {% for theme in data.themes %}
                    {{ macros.lego('swatch.theme', {
                        'theme': theme
                    }) }}  
                {% endfor %}

                <!--specify the extra grid item divs you need-->
                <div class='grid__item col-1-4 col-2-4--q-small '>
                </div><!--grid item ends-->
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->


    <div class='theme--secondary' id='spacing-helpers'>
        <div class='grid-container-xl pb-xxl' >
            {{ macros.lego('content.intro', {
                'content': data.spacingSection, 
            }) }}
            <div class='grid'>
                {% for unit in data.spacingUnits %}
                    {{ macros.lego('swatch.spacing', {
                        'spacing': unit
                    }) }}  
                {% endfor %}     
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->


    <div class='theme--tertiary' id='block-helpers'>
        <div class='grid-container-xl pb-xxl' >
            {{ macros.lego('content.intro', {
                'content': data.blocksSection, 
            }) }}
            <div class='grid'>
                {% for blocks in data.blocks %}
                    {{ macros.lego('swatch.block', {
                        'block': blocks
                    }) }}  
                {% endfor %} 
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme tertiary ends-->

    <div class='theme--secondary' id='typography'>
        <div class='grid-container-xl pb-xxl' >
            
            {{ macros.lego('content.intro', {
                'content': data.typographySection, 
            }) }}
            
            <div class='grid'>
                {{ macros.lego('section.typography', {
                        'content': data.typographyPrimary,
                        'fonts':data.fonts,
                        'type': 'primary'
                }) }}

                <div class='grid__item col'>
                    <hr class='mt-l mb-l'/>
                </div>
                
                {{ macros.lego('section.typography', {
                        'content': data.typographySecondary,
                        'fonts':data.fonts,
                        'type': 'secondary'
                }) }}
            
            </div><!--grid ends-->
        </div><!--grid container ends-->
    </div><!--theme ends-->

    <div class='theme--tertiary' id='text-heirarchy'>
        <div class='grid-container-xl pb-xxl'>
            {{ macros.lego('content.intro', {
                'content': data.heirarchySection, 
            }) }}
            <div class='theme--primary radius'>
                <div class='grid'>
                    <div class='grid__item col'>
                        {{ macros.lego('content.block', {
                            'content': data.typography,
                        }) }}
                    </div><!--theme ends-->
                </div>
            </div>
        </div><!--grid container ends-->
    </div><!--theme ends-->

    <div id='flego-blocks' style='background-color:#EDEDED;' class='pb-xxxl'>
        <div class='grid-container-xl '>    
            {{ macros.lego('content.intro', {
                'content': data.flegoSection, 
            }) }}
        </div>
        <div class='grid-container device-container' style=''>
            <p class='grey-gradient split small append append--q-small append--q-medium' data-append="computer" data-append-medium="tablet" data-append-small="iphone" >
                &nbsp;&nbsp;&#63743; Laura's awesome 
                <span class='split__right uppercase '>
                    12:00am &nbsp;&nbsp;
                </span>
            </p> 
            <h3 class='lego--heading'>
                content.media.quarters.twig
            </h3>
            
            {{ macros.lego('content.media.quarters', {
                'themeClass': 'theme--primary',
                'content': data.dummycontent,
                'image': data.dummyimage
            }) }}

            {#<h3 class='lego--heading-2'>
                content.media.reversed.quarters.twig
            </h3>

            {{ macros.lego('content.media.reversed.quarters', {
                'themeClass': 'theme--primary',
                'content': data.dummycontent,
                'image': data.dummyimage
            }) }}#}

            <h3 class='lego--heading'>
                panel.twig
            </h3>
            <div class='block-m block--stacked'>
                {{ macros.flego('panel', {
                'blockSize': 'm', 
                'close':true,
                'radius':true,
                'theme':'warning', 
                'content':data.panel,
                'buttonLabel':'Click me',
                'buttonLink':'/clickme'
            }) }}
            </div>

        </div><!--grid container ends-->
    </div><!--theme ends-->

{% endblock %}