
<div class='grid '>
    
    <div class='grid__item col'>
        <div class='block-{{data.blockSize}} block--stacked {{ data.isStacked }}'>
            <span class="tiny uppercase text-nowrap inline-block">
                <a href="anchor here" >
                    Television
                </a>
                ·
            </span>
            <span class="tiny uppercase text-nowrap"> 
                2nd April 2014 
            </span>
            <h3 class='{{ headingSize }} '>
                {{ data.title }}
            </h3>
            <p>
                {{ data.copy }}
            </p>
            <p>
                <a href='{{ data.link-href }}'>
                    {{ data.link }}
                </a>
            </p>
        </div><!--block ends-->
    </div><!-- grid item ends-->
   
</div><!-- ends -->