<div class='grid '>  
    <div class='grid__item col{{data.colSize}}'>
        <div class='block-{{data.blockSize}} block--stacked {{ data.isStacked }}'>
            <span class="tiny uppercase text-nowrap inline-block">
                <a href="anchor here" >
                    {{data.article.category}}
                </a>
                ·
            </span>
            <span class="tiny uppercase text-nowrap"> 
                {{data.article.date }}
            </span>
            <h3 class='{{ headingSize }}'>
                {{ data.article.title }}
            </h3>
            <p>
                {{ data.article.desc }}
            </p>
            <p>
                <a href='{{ data.article.linkAnchor }}'>
                    {{ data.article.link }}
                </a>
            </p>
        </div><!--block ends-->
    </div><!-- grid item ends-->
</div><!-- grid ends -->