{% import "macros.twig" as macros %}

<div class='grid {{data.centergrid}}'>
    <div class='grid__item {{data.mediaRight}}'>
        <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}}'>
            {{ macros.blocks(data.content) }}
        </div><!--block ends-->
    </div><!--grid item ends-->
    <div class='grid__item {{data.mediaLeft}}'>
        <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}}'>
           {{ macros.blocks(data.image) }}
        </div><!--block ends-->
    </div><!-- grid item ends-->
</div><!-- ends -->
