{% import "macros.twig" as macros %}

<div class='grid'>

    <div class='grid__item col{{data.colSize}}'>
        <div class='block-{{data.blockSize}} block--stacked {{ data.isStacked }}'>
  
            {{ macros.blocks(data.content) }}
            
        </div><!--block ends-->
        {#<div class='sidebar'>
            {{ macros.blocks(data.sidebar) }}
        </div>#}
    </div><!-- grid item ends-->

</div><!-- ends -->
