{% import "macros.twig" as macros %}

{% if data.themeClass %}
    <div class='{{data.themeClass}}'>
{% endif %}

    <div class='grid-container-xl'>

        <div class='grid {{data.centergrid}}'>
            <div class='grid__item col-2-3 col--q-small'>
                <div class='block-m block--stacked {{data.isStacked}}'>
                    {{ macros.blocks(data.content) }}
                </div><!--block ends-->
            </div><!--grid item ends-->
            <div class='grid__item col-1-3 col--q-small'>
                <div class='block-m block--stacked {{data.isStacked}}'>
                   {{ macros.blocks(data.image) }}
                </div><!--block ends-->
            </div><!-- grid item ends-->
        </div><!-- ends -->

    </div><!--grid container ends-->

{% if data.themeClass %}
    </div><!--theme ends-->
{% endif %}