<div class='grid '>  
    
    <div class='grid__item col'>
        <div class='{{data.theme}}'>
            <div class='block-{{data.blockSize}} mt-m ml-m mr-m mb-m '>
                <div class='grid relative'>
                    <span class='close absolute--top-right text-top'></span>
                    
                    <div class='grid__item col'>
                        <div class='mr-m'>
                            {% if data.panel.title %}
                                <h2 class='{{data.headingSize}}'>
                                    {{ data.panel.title }}
                                </h2>
                            {% endif %}
                            {% if data.panel.desc %}
                                <p>
                                    {{ data.panel.desc }}
                                </p>
                            {% endif %}
                            {% if data.panel.btnTitle %}
                                <a href='{{ data.btnLink }}' class='btn border-box mt-m'>
                                    {{ data.panel.btnTitle }}
                                </a>
                            {% endif %}
                        </div>
                    </div><!--grid item ends-->

                </div>
            </div><!--block ends-->
        </div>
    </div><!-- grid item ends-->
    
</div><!-- grid ends -->