{% import "macros.twig" as macros %}

{#
{{ macros.lego('section', {
    'contentData':data.spacingSection, 
    'theme': 'secondary',
    'CommentImage': 'i-gecko',
    'swatchData': data.spacingUnits
    
}) }}
#}

<div class='theme--{{data.themeClass}}' id='{{data.anchor}}'>
    <div class='grid-container-xl pb-xxl' >

        {{ macros.flego('content-block', {
            'content': data.contentData, 
        }) }}

        {% if data.externalThemeWrapper %}
        <div class='{{data.externalThemeWrapper}}'>
        {% endif %}

            <div class='grid'>
              
                {{ macros.lego(data.legoBlock, {
                    'content': data.swatchData
                }) }}  
               
            </div><!--grid ends-->

        {% if data.externalThemeWrapper %}
        </div><!--externalThemeWrapper-->
        {% endif %}

    </div><!--grid container ends-->
</div><!--theme ends-->

 
        
                   
        
 