{% import "macros.twig" as macros %}
{#
    {{ macros.lego('barchart', {
        'barchart':data.barchart,
        'blockSize': 'm'
    }) }}
#}
    <div class='grid__item col-2-10 col--q-small'>
        <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}}'>
            <p class='font-primary--light h1'>
                {{ data.barchartPercentage }}%
            </p>
        </div><!--block ends-->
    </div><!-- grid item ends-->
    
    <div class='grid__item col-8-10 col--q-small'>
        <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}} pt-0--q-small'>
            <p>
                {{ data.barchartDesc }}
            </p>
            <div class='barchart col '>
                <span class='meter block-element' style='height:100%;width: {{ data.barchartPercentage }}%'></span>
            </div>
        </div><!--block ends-->
    </div><!--grid item ends-->
