{% import "macros.twig" as macros %}

{% for key, comment in data.commentData %}

    <div class='grid__item col{{data.colSize}}'>
        <div class='block-{{data.blockSize}} block--stacked {{data.isStacked}}'>
            <div class='arrow--left block-xs {% if data.theme %}theme--{{data.theme}}{% endif %} {% if data.radius %}radius{% endif %}'>

                {{ macros.blocks(comment) }}
        
                <i class='arrow arrow-bottom '></i>
            </div>
            
            <p class='icon-text uppercase' href='#'>
                <i class='i circle {{data.CommentImage}}'></i>
                {{value.name}}
            </p>
        </div><!--block ends-->
    </div><!-- grid item ends-->

{% endfor %}

