{% import "macros.twig" as macros %}
{% if data.externalthemeClass %}
	<div class='theme--{{data.externalthemeClass}}'>
{% endif %}
{% if data.gridContainer %}
	<div class='grid-container'>
		<div class='grid'>
	{% endif %}

		{% if data.colSize %}
			<div class='grid__item {{data.colSize}}'>
		{% endif %} 
			{% if data.themeClass %}
				<div class='theme--{{data.themeClass}}'>
			{% endif %}
				    <div class='block-{{data.blockSize}} block--stacked'>
				        {{ macros.blocks(data.content) }}
				    </div><!--block ends-->
			{% if data.themeClass %}
				</div>
			{% endif %}
		{% if data.colSize %}
			</div>
		{% endif %}

	{% if data.gridContainer %}
		</div><!--grid ends -->
	</div><!-- grid container ends-->
	{% endif %}

{% if data.externalthemeClass %}
	</div>
{% endif %}