{% import "macros.twig" as macros %}
{% if data.theme %}
<div class='theme--{{data.theme}}'>
{% endif%}
    {% if data.gridContainer %}
    <div class='grid-container'>
    {% endif %}
        <div class='grid-float'>

            <div class='grid__item {{data.colSizeRight}} grid__item--middle right'>
                <div class='block-{{ data.blockSize }} block--stacked block-0--q-medium block-0--q-small pt-0 pb-0 pl-0--q-small pr-0--q-small'>   
                    <a href='{{ data.url }}' >   
                        <img src='{{ data.imageSource }}' alt='{{ data.galleryShowcase.title | raw }}' class='img--responsive align--bottom' title='{{ data.galleryShowcase.imageCredit }}'/>
                    </a>   
                </div><!--block ends-->
            </div><!--grid item ends-->

            <div class='grid__item {{data.colSizeLeft}} left'>
                <div class=' block-{{ data.blockSize }} block--stacked pr-0--q-large'>
                    <p class='uppercase tiny'>
                        <a href='{{data.categoryUrl }}' >
                            <strong>
                                {{ data.category }} showcase
                            </strong>
                        </a> 
                         &middot; {{ data.date  }}
                    </p>
                   {{ macros.blocks(data.galleryShowcaseData) }}
                </div><!--block ends-->
            </div><!--grid item ends-->

        </div><!--grid ends-->
    {% if data.gridContainer %}
    </div><!--grid container ends-->
    {% endif %}
{% if data.theme %}
</div>
{% endif%}