{% import "macros.twig" as macros %}

{% if data.externalThemeClass %}
	<div class='theme--{{data.externalThemeClass}}'>
{% endif %}
{% if data.gridContainer %}
	<div class='{{data.gridContainer}}'>
		<div class='grid'>
	{% endif %}
	
			<div class='grid__item {{data.colSize | default("col")}}'>
	
				{% if data.themeClass %}
				<div class='theme--{{data.themeClass}}'>
				{% endif %}
				    
				    <div class='block-{{data.blockSize | default("m")}} block--stacked  {% if data.textCenter %}text-center {% endif %}'>
				        {{ macros.blocks(data.content) }}
				    </div><!--block ends-->

				{% if data.themeClass %}
				</div>
				{% endif %}
	
			</div>
			
	{% if data.gridContainer %}
		</div><!--grid ends -->
	</div><!-- grid container ends-->
	{% endif %}

{% if data.externalThemeClass %}
	</div>
{% endif %}