{% import "macros.twig" as macros %}

{% for item, swatch in data.data %}
    <div class='grid__item {{data.colSize}}'>
        <div class='block-s block--stacked'>
            <div class='theme--{{data.themeClassTop}} top--radius-s' >
                <p class='small uppercase text-center pt-s pb-s'>
                    {{swatch.swatchTop}}
                </p>
            </div>
            <div class='theme--{{data.themeClassBottom}} bottom--radius-s'>
                <div class='block-{{data.blockSize}} block--stacked'>
                    {{swatch.swatchBottom}}
                </div>
            </div> 
        </div>
    </div><!--grid item ends-->
{% endfor %}