{% import "macros.twig" as macros %}

<div class='grid'>

    {% for item in data.content %}
        <div class='grid__item {{data.colSize}}'>
            <div class='{{data.margin}} block--stacked'>
                <div class='theme--{{data.themeClassTop}} top--radius-s pink{{item.name}}' >
                    <p class='small uppercase {% if data.textCenter %}text-center {% endif %} pt-s pb-s'>
                        {{item.swatchTop}}
                    </p>
                </div>
                <div class='theme--{{data.themeClassBottom}} bottom--radius-s'>
                    <div class='block-{{data.blockSize}} block--stacked {% if data.textCenter %}text-center {% endif %}'>
                        {{item.swatchBottom}}
                    </div>
                </div> 
            </div>
        </div><!--grid item ends-->
    {% endfor %}

</div><!--grid ends-->