{% import "macros.twig" as macros %}
    <div class='grid__item {{data.colSize}}'>
        <div class='ml-xxs mr-xxs radius mb-m'>
            <div class='theme--{{data.themeClassTop}} top--radius-s' >
                <p class='small uppercase text-center pt-s pb-s'>
                    {{data.swatchTop}}
                </p>
            </div>
            <div class='theme--{{data.themeClassBottom}} bottom--radius-s'>
                <div class='block-{{data.blockSize}} block--stacked'>
                    {{data.swatchBottom}}
                </div>
            </div> 
        </div>
    </div><!--grid item ends-->